In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv('fci-breeds.csv')
my_df

,id,name,group,section,provisional,country,url,image,pdf
0,1,ENGLISH POINTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-POI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/001g...
1,2,ENGLISH SETTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-SET...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/002g...
2,3,KERRY BLUE TERRIER,Terriers,Large and medium sized Terriers,NaN,IRELAND,https://www.fci.be/en/nomenclature/KERRY-BLUE-...,NaN,https://www.fci.be/Nomenclature/Standards/003g...
3,4,CAIRN TERRIER,Terriers,Small sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/CAIRN-TERRI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/004g...
4,5,ENGLISH COCKER SPANIEL,Retrievers,Flushing Dogs,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-COC...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/005g...
...,...,...,...,...,...,...,...,...,...
351,366,ESTONIAN HOUND,Scent hounds and related breeds,Scent hounds,9/4/2019,ESTONIA,https://www.fci.be/en/nomenclature/ESTONIAN-HO...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/366g...
352,367,MINIATURE AMERICAN SHEPHERD,Sheepdogs and Cattledogs,Sheepdogs,9/4/2019,UNITED STATES OF AMERICA,https://www.fci.be/en/nomenclature/MINIATURE-A...,NaN,https://www.fci.be/Nomenclature/Standards/367g...
353,368,TRANSMONTANO MASTIFF,Pinscher and Schnauzer,Molossian type,2/26/2020,PORTUGAL,https://www.fci.be/en/nomenclature/TRANSMONTAN...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/368g...
354,369,CONTINENTAL BULLDOG,Pinscher and Schnauzer,Molossian type,3/30/2022,SWITZERLAND,https://www.fci.be/en/nomenclature/CONTINENTAL...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/369g...
355,370,VALENCIAN TERRIER,Terriers,Large and medium sized Terriers,6/21/2022,SPAIN,https://www.fci.be/en/nomenclature/VALENCIAN-T...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/370g...

In [9]:
#counting distinct value in DESCENDING ORDER
my_df['group'].value_counts()

group
Scent hounds and related breeds    72
Pinscher and Schnauzer             55
Spitz and primitive types          48
Sheepdogs and Cattledogs           47
Pointing Dogs                      36
Terriers                           35
Companion and Toy Dogs             27
Retrievers                         22
Sighthounds                        13
Dachshunds                          1
Name: count, dtype: int64

In [10]:
#counting distinct value in ASCENDING ORDER
my_df['group'].value_counts(ascending=True)

group
Dachshunds                          1
Sighthounds                        13
Retrievers                         22
Companion and Toy Dogs             27
Terriers                           35
Pointing Dogs                      36
Sheepdogs and Cattledogs           47
Spitz and primitive types          48
Pinscher and Schnauzer             55
Scent hounds and related breeds    72
Name: count, dtype: int64

In [11]:
#dog names without NAN(Not A Number)
my_df['name'].value_counts()

name
ENGLISH POINTER             1
GREAT DANE                  1
AKITA                       1
ALPINE DACHSBRACKE          1
PUG                         1
                           ..
ENGLISH SPRINGER SPANIEL    1
IRISH WATER SPANIEL         1
FIELD SPANIEL               1
LABRADOR RETRIEVER          1
VALENCIAN TERRIER           1
Name: count, Length: 356, dtype: int64

In [12]:
#dog names with NAN
my_df['name'].value_counts(dropna=False)

name
ENGLISH POINTER             1
GREAT DANE                  1
AKITA                       1
ALPINE DACHSBRACKE          1
PUG                         1
                           ..
ENGLISH SPRINGER SPANIEL    1
IRISH WATER SPANIEL         1
FIELD SPANIEL               1
LABRADOR RETRIEVER          1
VALENCIAN TERRIER           1
Name: count, Length: 356, dtype: int64

In [17]:
#get relative frequency - percentage
my_df['name'].value_counts(normalize=True)

name
ENGLISH POINTER             0.002809
GREAT DANE                  0.002809
AKITA                       0.002809
ALPINE DACHSBRACKE          0.002809
PUG                         0.002809
                              ...
ENGLISH SPRINGER SPANIEL    0.002809
IRISH WATER SPANIEL         0.002809
FIELD SPANIEL               0.002809
LABRADOR RETRIEVER          0.002809
VALENCIAN TERRIER           0.002809
Name: proportion, Length: 356, dtype: float64

In [22]:
#get specific item count
#my_df['name'].value_counts()['PUG']
my_df['group'].value_counts()['Retrievers']

22

In [23]:
#count unique values - size
my_df.groupby('name').size()

name
AFFENPINSCHER                             1
AFGHAN HOUND                              1
AIREDALE TERRIER                          1
AKITA                                     1
ALASKAN MALAMUTE                          1
                                         ..
WIREHAIRED SLOVAKIAN POINTER              1
XOLOITZCUINTLE                            1
YAKUTIAN LAIKA                            1
YORKSHIRE TERRIER                         1
YUGOSLAVIAN SHEPHERD DOG - SHARPLANINA    1
Length: 356, dtype: int64

In [24]:
#count uinque values - count
my_df.groupby('name').count()

,id,group,section,provisional,country,url,image,pdf
name,,,,,,,,
AFFENPINSCHER,1,1,1,0,1,1,1,1
AFGHAN HOUND,1,1,1,0,1,1,1,1
AIREDALE TERRIER,1,1,1,0,1,1,1,1
AKITA,1,1,1,0,1,1,1,1
ALASKAN MALAMUTE,1,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...
WIREHAIRED SLOVAKIAN POINTER,1,1,1,0,1,1,0,1
XOLOITZCUINTLE,1,1,1,0,1,1,1,1
YAKUTIAN LAIKA,1,1,1,1,1,1,1,1
YORKSHIRE TERRIER,1,1,1,0,1,1,1,1
YUGOSLAVIAN SHEPHERD DOG - SHARPLANINA,1,1,1,0,1,1,0,1

In [25]:
#get a count of all columns across all columns
my_df.apply(pd.value_counts)

,id,name,group,section,provisional,country,url,image,pdf
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
https://www.fci.be/Nomenclature/Standards/125g08-en.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
https://www.fci.be/Nomenclature/Standards/124g08-en.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
https://www.fci.be/Nomenclature/Standards/123g08-en.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
https://www.fci.be/Nomenclature/Standards/122g08-en.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
https://www.fci.be/Nomenclature/Standards/370g03-en.pdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0