In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
my_data = randn(4,3)#random numbers with 4 rows and 3 columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [3]:
#creating data frame
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A -0.135480  0.253269  1.045633
B -0.170277 -0.797706  1.717196
C  1.485292 -0.823652  0.506905
D  0.200944 -1.585939  1.035207

In [8]:
#importing csv file
my_df2 = pd.read_csv('deniro.csv', on_bad_lines='skip')
my_df2

    Year   "Score"                  "Title"
0   1968        86              "Greetings"
1   1970        17            "Bloody Mama"
2   1971        40            "Born to Win"
3   1973        98           "Mean Streets"
4   1973        88   "Bang the Drum Slowly"
..   ...       ...                      ...
79  2014         9            "The Bag Man"
80  2015        60                    "Joy"
81  2015        26                  "Heist"
82  2015        61             "The Intern"
83  2016        11          "Dirty Grandpa"

[84 rows x 3 columns]

In [10]:
my_df3 = pd.read_csv('addresses.csv', on_bad_lines='skip')
my_df3

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [12]:
#pulling out row
my_df3.loc[3]

John                      NaN
Doe                  Blankman
120 jefferson st.         NaN
Riverside            SomeTown
 NJ                        SD
 08075                    298
Name: 3, dtype: object

In [14]:
#pulling out multiple rows
my_df3.loc[[0, 3, 2]]

      John       Doe                 120 jefferson st. Riverside   NJ   08075
0     Jack  McGinnis                      220 hobo Av.     Phila   PA    9119
3      NaN  Blankman                               NaN  SomeTown   SD     298
2  Stephen     Tyler  7452 Terrace "At the Plaza" road  SomeTown   SD   91234

In [15]:
my_df4 = pd.read_csv('fci-breeds.csv')
my_df4

,id,name,group,section,provisional,country,url,image,pdf
0,1,ENGLISH POINTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-POI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/001g...
1,2,ENGLISH SETTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-SET...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/002g...
2,3,KERRY BLUE TERRIER,Terriers,Large and medium sized Terriers,NaN,IRELAND,https://www.fci.be/en/nomenclature/KERRY-BLUE-...,NaN,https://www.fci.be/Nomenclature/Standards/003g...
3,4,CAIRN TERRIER,Terriers,Small sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/CAIRN-TERRI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/004g...
4,5,ENGLISH COCKER SPANIEL,Retrievers,Flushing Dogs,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-COC...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/005g...
...,...,...,...,...,...,...,...,...,...
351,366,ESTONIAN HOUND,Scent hounds and related breeds,Scent hounds,9/4/2019,ESTONIA,https://www.fci.be/en/nomenclature/ESTONIAN-HO...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/366g...
352,367,MINIATURE AMERICAN SHEPHERD,Sheepdogs and Cattledogs,Sheepdogs,9/4/2019,UNITED STATES OF AMERICA,https://www.fci.be/en/nomenclature/MINIATURE-A...,NaN,https://www.fci.be/Nomenclature/Standards/367g...
353,368,TRANSMONTANO MASTIFF,Pinscher and Schnauzer,Molossian type,2/26/2020,PORTUGAL,https://www.fci.be/en/nomenclature/TRANSMONTAN...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/368g...
354,369,CONTINENTAL BULLDOG,Pinscher and Schnauzer,Molossian type,3/30/2022,SWITZERLAND,https://www.fci.be/en/nomenclature/CONTINENTAL...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/369g...
355,370,VALENCIAN TERRIER,Terriers,Large and medium sized Terriers,6/21/2022,SPAIN,https://www.fci.be/en/nomenclature/VALENCIAN-T...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/370g...

In [17]:
#grabbing first 5 rows
my_df4.head()

,id,name,group,section,provisional,country,url,image,pdf
0,1,ENGLISH POINTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-POI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/001g...
1,2,ENGLISH SETTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-SET...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/002g...
2,3,KERRY BLUE TERRIER,Terriers,Large and medium sized Terriers,NaN,IRELAND,https://www.fci.be/en/nomenclature/KERRY-BLUE-...,NaN,https://www.fci.be/Nomenclature/Standards/003g...
3,4,CAIRN TERRIER,Terriers,Small sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/CAIRN-TERRI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/004g...
4,5,ENGLISH COCKER SPANIEL,Retrievers,Flushing Dogs,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-COC...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/005g...

In [18]:
#grabbing certain number of first rows
my_df4.head(10)

,id,name,group,section,provisional,country,url,image,pdf
0,1,ENGLISH POINTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-POI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/001g...
1,2,ENGLISH SETTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-SET...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/002g...
2,3,KERRY BLUE TERRIER,Terriers,Large and medium sized Terriers,NaN,IRELAND,https://www.fci.be/en/nomenclature/KERRY-BLUE-...,NaN,https://www.fci.be/Nomenclature/Standards/003g...
3,4,CAIRN TERRIER,Terriers,Small sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/CAIRN-TERRI...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/004g...
4,5,ENGLISH COCKER SPANIEL,Retrievers,Flushing Dogs,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/ENGLISH-COC...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/005g...
5,6,GORDON SETTER,Pointing Dogs,British and Irish Pointers and Setters,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/GORDON-SETT...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/006g...
6,7,AIREDALE TERRIER,Terriers,Large and medium sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/AIREDALE-TE...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/007g...
7,8,AUSTRALIAN TERRIER,Terriers,Small sized Terriers,NaN,AUSTRALIA,https://www.fci.be/en/nomenclature/AUSTRALIAN-...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/008g...
8,9,BEDLINGTON TERRIER,Terriers,Large and medium sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/BEDLINGTON-...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/009g...
9,10,BORDER TERRIER,Terriers,Large and medium sized Terriers,NaN,GREAT BRITAIN,https://www.fci.be/en/nomenclature/BORDER-TERR...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/010g...

In [21]:
#grabbing last 5 rows
my_df4.tail()

,id,name,group,section,provisional,country,url,image,pdf
351,366,ESTONIAN HOUND,Scent hounds and related breeds,Scent hounds,9/4/2019,ESTONIA,https://www.fci.be/en/nomenclature/ESTONIAN-HO...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/366g...
352,367,MINIATURE AMERICAN SHEPHERD,Sheepdogs and Cattledogs,Sheepdogs,9/4/2019,UNITED STATES OF AMERICA,https://www.fci.be/en/nomenclature/MINIATURE-A...,NaN,https://www.fci.be/Nomenclature/Standards/367g...
353,368,TRANSMONTANO MASTIFF,Pinscher and Schnauzer,Molossian type,2/26/2020,PORTUGAL,https://www.fci.be/en/nomenclature/TRANSMONTAN...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/368g...
354,369,CONTINENTAL BULLDOG,Pinscher and Schnauzer,Molossian type,3/30/2022,SWITZERLAND,https://www.fci.be/en/nomenclature/CONTINENTAL...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/369g...
355,370,VALENCIAN TERRIER,Terriers,Large and medium sized Terriers,6/21/2022,SPAIN,https://www.fci.be/en/nomenclature/VALENCIAN-T...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/370g...

In [22]:
#grabbing certain number of last rows
my_df4.tail(7)

,id,name,group,section,provisional,country,url,image,pdf
349,364,BOHEMIAN SHEPHERD DOG,Sheepdogs and Cattledogs,Sheepdogs,4/29/2019,CZECH REPUBLIC,https://www.fci.be/en/nomenclature/BOHEMIAN-SH...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/364g...
350,365,YAKUTIAN LAIKA,Spitz and primitive types,Nordic Sledge Dogs,9/4/2019,RUSSIAN FEDERATION,https://www.fci.be/en/nomenclature/YAKUTIAN-LA...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/365g...
351,366,ESTONIAN HOUND,Scent hounds and related breeds,Scent hounds,9/4/2019,ESTONIA,https://www.fci.be/en/nomenclature/ESTONIAN-HO...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/366g...
352,367,MINIATURE AMERICAN SHEPHERD,Sheepdogs and Cattledogs,Sheepdogs,9/4/2019,UNITED STATES OF AMERICA,https://www.fci.be/en/nomenclature/MINIATURE-A...,NaN,https://www.fci.be/Nomenclature/Standards/367g...
353,368,TRANSMONTANO MASTIFF,Pinscher and Schnauzer,Molossian type,2/26/2020,PORTUGAL,https://www.fci.be/en/nomenclature/TRANSMONTAN...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/368g...
354,369,CONTINENTAL BULLDOG,Pinscher and Schnauzer,Molossian type,3/30/2022,SWITZERLAND,https://www.fci.be/en/nomenclature/CONTINENTAL...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/369g...
355,370,VALENCIAN TERRIER,Terriers,Large and medium sized Terriers,6/21/2022,SPAIN,https://www.fci.be/en/nomenclature/VALENCIAN-T...,https://www.fci.be/Nomenclature/Illustrations/...,https://www.fci.be/Nomenclature/Standards/370g...

In [23]:
#get info about the dataframe
my_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           356 non-null    int64
 1   name         356 non-null    object
 2   group        356 non-null    object
 3   section      355 non-null    object
 4   provisional  12 non-null     object
 5   country      356 non-null    object
 6   url          356 non-null    object
 7   image        245 non-null    object
 8   pdf          355 non-null    object
dtypes: int64(1), object(8)
memory usage: 25.2+ KB

In [25]:
#get shape of rows and columns
my_df4.shape

(356, 9)